
body {
  background: rgb(248, 246, 246);
  margin: 0;

}

.info {
  width: 100%;
  height: 250px;
  position:relative;
  background: linear-gradient(to top, rgb(130, 130, 241), rgb(235, 196, 250));
  top: 150px;
}

.helicopter {
  width: 140px;
  top: 50px;
  left: -150px;
  position:absolute;
  animation: fly 6s linear infinite;
}

@keyframes fly {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}